body {
	background: url(./cherryBack.png), linear-gradient(-45deg, #1d015f, #c9058e, #23a6d5, #23d5ab, #27e667, #48018a);
	background-size: 200% 300%;
	background-repeat: no-repeat;
	animation: gradient 50s ease infinite;
	background-image: "portolio4.png";
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1, h2, h3, p {
    font-family: 'revert';
    color:#cacaca;
}

footer {
	display: none;
}

@media screen and (min-width: 800px) {
	footer {
		display: flex;
		justify-content: center;
	}
  }